.adminSedes {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.adminSedes h1 {
    margin: 30px auto
}

.table {
    width: 90%
}

.crearSede {
    margin: 30px auto
}