/* .img-style {
  border-radius: 20px;
  width: 600px;
  height: 400px;
} */

/* .text-justify-2 {
  text-align: justify;
} */

.modul_question {
  display: flex;
  flex-direction: column;
}

.modul_button {
  margin-right: 25px;
}
