.div-sedes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.uncheck-style,
.check-style {
  color: white;
  font-size: 40px;
}

.sedes {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.title {
  padding: -20px
}

.check-style,
.uncheck-style:hover,
.check-style:hover {
  color: #77d352;
}

.guardarButton {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .div-sedes {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
}

