.volunteer_entregas_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

thead[class*="ant-table-thead"] th {
  background-color: #7e8892 !important;
  color: white;
  font-weight: bold;
}

.entregas {
  display: none;
}

@media (max-width: 768px) {
  .entregas {
    display: block;
    margin-top: 50px;
  }
}
