.volunteer_profile_div {
  display: flex;
  flex-direction: column;
  margin: auto;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.user_profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 147, 221, 0.808);
  width: 50%;
  border-radius: 10px;
  margin: 100px auto;
  color: white;
  position: relative;
}

.profileImageBackground {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  filter: blur(1px);
}

.volunteer_profile_div h2 {
  margin: 30px auto;
  color: white;
}

.volunteer_profile_div button {
  margin: 20px auto;
}

.volunteer_profile_div h5 {
  margin-top: 20px;
  color: white;
}

.volunteer_profile_div p {
  margin-top: 5px;
  color: white;
}

.volunteer_profile_div h4 {
  margin-left: 20px;
  color: white;
}

.volunteer_profile_div .instructions {
  margin-top: 80px;
}

.volunteer_profile_div ul {
  margin-top: 20px;
  list-style-type: square;
}

@media (max-width: 768px) {
  .profileImageBackground {
    display: none;
  }
  .user_profile {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
  }
}
