<IfModule mod_rewrite.c>

  RewriteEngine On
  RewriteBase /formacion
  RewriteCond %{REQUEST_URI} !^/index.html$
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-l
  RewriteRule . /index.html [L]

</IfModule>