.admin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  

  .admin h1 {
    text-align: center;
    margin-top: 50px;
  }

  .admin h5 {
    text-align: center;
    margin-top: 10px;
  }

.divAdminUser{
  margin: 30px auto;
}

