.card {
  margin: 5px;
  width: 20rem;
  border-radius: 10px;
}

.circle {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.card:hover {
  transform: scale(1.05);
}

@media (max-width: 786px) {
  .card {
    width: 16rem;
  }
}
