.change_password_div {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.change_password_div button {
  float: right;
}

.change_password_div h3 {
  margin-top: 50px;
}


@media (max-width: 768px) {
  .change_password_div {
    display: flex;
    justify-content: center;
    align-items: initial;
    flex-direction: column;
    box-sizing: border-box;
  }
  .change_password_div button {
    width: 100%;
  }
}
