.navbar {
  background-color: #0092dd;
  z-index: 1;
  width: 100vw;
}

.navbar button {
  border: none;
  color: white;
  background-color: transparent;
  margin-top: 5px;
}

.navbar .nav-item .active {
  color: white;
}

.nav-item > a {
  text-decoration: none;
}
