.admin {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin h1 {
  text-align: center;
  margin-top: 50px;
}

.admin_input {
  margin-left: 50px;
}

.admin_check {
  margin-right: 20px;
}

.button-style-formm {
  width: 200px;
  height: 70px;
}
