.volunteer_entregas_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volunteer_entregas_div h1 {
  text-align: center;
  margin-top: 50px;
}

.table {
  margin: auto;
  width: 90%;
}

thead[class*="ant-table-thead"] th {
  background-color: #7e8892 !important;
  color: white;
  font-weight: bold;
}
